/* styling for the image wrapper  */
#image_wrap {
  /* dimensions */
  width:570px;
  margin:15px 0 15px 0;
  padding:15px 0;

  /* centered */
  text-align:center;

  /* some "skinning" */
  background-color:#efefef;
  border:2px solid #fff;
  outline:1px solid #ddd;
  -moz-ouline-radius:4px;
}
