/* root element for single scroll */
.scroll {
  position:relative;
  overflow:hidden;
  width: 550px;
  height: 360px;
  background-repeat: no-repeat;
}

/* root element for the scroll pics */
.scroll .pics {
  width:20000em;
  position:absolute;
  clear:both;
}

/* single scroll item */
.pics div {
  float:left;
  cursor:pointer;
  width:550px !important;
  height:360px;
  margin:0px;
}

/* possible settings for the active scroll */
.scroll.active {

}

/* possible settings for the gallery container */
#gaxf-slider-container {
  width: 550px;
  display: inline-block;
}
#gaxf-slider-container-wrapper {
  text-align: center;
}
