/* position and dimensions of the navigator */
.navi {
 height:20px;
 background: #ffcc33;
 display: none;
}

/* items inside navigator */
.navi a {
  width:8px;
  height:8px;
  float:left;
  margin:3px;
  background:url(http://flowplayer.org/tools/img/scrollable/arrow/navigator.png) 0 0 no-repeat;
  display:block;
  font-size:1px;
}

/* mouseover state */
.navi a:hover {
  background-position:0 -8px;
}

/* active state (current page state) */
.navi a.active {
  background-position:0 -16px;
}
