/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
  background:url(http://flowplayer.org/tools/img/scrollable/arrow/hori_large.png) no-repeat;
  display:block;
  width:30px;
  height:30px;
  float:left;
  margin:40px 10px;
  cursor:pointer;
  font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
  background:url(http://flowplayer.org/tools/img/scrollable/arrow/vert_large.png) no-repeat;
  float: none;
  margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
  visibility:hidden !important;
}
#actionButtons {
  text-align: center;
  margin-top: 20px;
}
#actionButtons button {
  -moz-border-radius-bottomleft:10.2em;
  -moz-border-radius-bottomright:10.2em;
  -moz-border-radius-topleft:10.2em;
  -moz-border-radius-topright:10.2em;
  -moz-box-shadow:0 0.1em 0.2em rgba(0, 0, 0, 0.5);
  background-color:#5D689A;
  border-bottom-color:#666666;
  border-bottom-style:solid;
  border-bottom-width:0.2em;
  border-left-width-ltr-source:physical;
  border-left-width-rtl-source:physical;
  border-left-width-value:1px;
  border-right-width-ltr-source:physical;
  border-right-width-rtl-source:physical;
  border-right-width-value:1px;
  border-top-width:1px;
  color:#FFFFFF;
  cursor:pointer;
  font-size:1em;
  line-height:1;
  padding-bottom:0.3em;
  padding-left:0.6em;
  padding-right:0.6em;
  padding-top:0.3em;
  text-shadow:0 0 0.1em #222222;
}
