/* root element for scrollable */
.vertical {

	/* required settings */
	position:relative;
	overflow:hidden;

	/* vertical scrollers have typically larger height than width */
	height: 640px;
	width: 570px;
	border-top:1px solid #ddd;
}

/* root element for scrollable items */
.items {
	position:absolute;
	width: 570px;
	/* this time we have very large space for height */
	height:20000em;
	margin: 0px;
}

/* single scrollable item */
.item {
	border-bottom:1px solid #ddd;
	margin:10px 0;
	padding:15px;
	font-size:12px;
	height:170px;
}

/* elements inside single item */
.item .gaxf-image-box {
	float:left;
	margin-right:20px;
	/* height:180px;
	width:240px; */
}

/* elements inside single item */
.item img {
	/* float:left;
	margin-right:20px;
	height:180px;
	width:240px; */
}

.item h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

/* the action buttons above the scrollable */
#actions {
	width:570px;
	margin:0 0 10px 0;
}

#actions a {
	font-size:11px;
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;
}

.next {
	float:right;
}
